{% extends 'base.html.twig' %}

{% block title %}Add a book{% endblock %}


{% block body %}
<div>
<div class="container">

{{form_start(form)}}
{{form_widget(form)}}
<button class="btn btn-danger">Add</button>
{{form_end(form)}}
</div>
</div>

{% endblock %}
